body, html {
  overflow:hidden;
  margin: 0;
  height: 100%;
}

.sky {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(54 85 124) 34%, rgb(127 174 184) 100%);
}


